@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Vollkorn:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f8f6f6;
    font-size: 14px;
    line-height: 20px;
}

.header {
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.navbar {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
 }

 .logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
 }
 .logo-icon {
    width: 2.5rem;
    height: 3rem;
 }

.logo-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-top: 0.3rem;
    color: #fff;
}

 .nav-links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
    
 }
  
  .nav-links a {
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif; 
}


  .nav-links a:hover,
  .nav-links a:active {
    color: rgb(199, 170, 139);
    /* background-color:black ;
    border-left: 0.01px solid #c7aa8b;
    border-right: 0.01px solid #c7aa8b;
    padding: 1.4rem 1.5rem; */
  }
  
.main{
    background-image: url("https://assets.website-files.com/5e457cdd6bf0d06897420d3a/5e457cdd6bf0d05bfa420d5f_town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 5rem;
    background-position: 50% 50%;
    text-align: center;
    color: white;
    line-height: 4.5rem;
}
    
.thin-title {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}

.bold-title {
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.line1 {
    background-color: #fff;
    width: 5rem;
    height: 0.15rem;
    margin: 0 auto;
} 

.italic-title {
    color: #fff;
    font-family: Vollkorn, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}
  
.link-btn {
    cursor: pointer;;
    display: inline-block;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    background-color: #4d4d4d33;
    transition: all 100ms ease;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.link-btn:hover,
.link-btn:focus,
.link-btn:active {
    color: #323232;
    background-color: #fff;
}
.sm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.sm-icon g:focus,
.sm-icon g:hover,
.sm-icon path:focus,
.sm-icon path:hover {
    fill: #fff;

}

.section-3 {
    background-color: #c7aa8b;
    padding: 2% 15%;
    
    
}
.w-row{
    display: flex;
    flex-direction: row;
}
.w-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.number {
    opacity: 0.2;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0px;
    color: rgb(55 55 55);
    font-size: 16px;
    text-transform: uppercase;
}
.process-titles{
    font-weight: 600;
    color: rgb(55 55 55);
    padding-bottom:20px;
   
    
}
p{
    color: rgb(55 55 55)
}


.hr{
    width: 50%;
    opacity: 0.2;
}
.hr2 {
   
    width: 70%;
    opacity: 0.2;
}
.containerLazar{
    overflow: hidden;
    height: 400px;
    position: relative;
    color:  #c7aa8b;
    text-align: left;
    /* font-size:1.5rem; */

}


.centerText {
        position: absolute;

        margin: 0px 0px 10px;
        color: #c7aa8b;
        font-size: 40px;
        line-height: 55px;
        font-weight: 500;
        top: 35%;
        left: 10%;
    
        /* position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
        font-size: 2em; 
        max-width: 100%; 
         white-space: wrap; 
        overflow: hidden;  */
  }
.sliding-background{
    background:url(./images/iran-g981a670e5_1920.jpg) repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
 
}


.container {
    color: #4d4d4d;
    background-color: white;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 5rem 0;
}

.team-title {
    flex: 5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #323232;
}

.teammate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.teammate img {
    flex: 2 1 300px;
}

.position {
    font-family: Vollkorn, serif;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.social-links a {
    text-decoration: none;
}

svg g:hover,
svg g:focus,
svg path:hover,
svg path:focus {
    fill:#4d4d4d;
}

.lightgrey {
    background-color: #f7f7f7;

}

.testmonials-container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.testemonials-title {
    font-size: 1.1rem;
    color: #3232325c;
    text-transform: uppercase;
    align-self: center;
    margin: 0 auto;
}

.line4 {
    background-color: #3232322e;
    width: 3rem;
    height: 0.1rem;
    margin: 1rem auto;
}

.testemonials-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testemonials {
    text-align: center;
}

.testemonial {
    font-family: Vollkorn, serif;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.author {
    color: #c7aa8b;
    text-transform: uppercase;
}

.footer {
    background-color: #323232;
    color: #c7aa8b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.logo,
.address {
    color: #858585;
    font-size: .9rem;
    font-style: normal;
}

.footer-logo {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.contact-btn {
    background-color: #323232;
    color: #c7aa8b;
    border: 1px solid #c7aa8b;
    padding: 0.5rem 2rem;
}

.contact-btn a {
    text-decoration: none;
    color: #c7aa8b;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;

}

.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active {
    background-color: #c7aa8b;
}


.contact-btn a:hover,
.contact-btn a:focus,
.contact-btn a:active {
    background-color: #c7aa8b;
    color: #323232;
}


@media screen 
    and (min-width:840px) {
        .navbar {
            width: 80%;
            gap: 6rem;
        }
        .nav-links {
            gap: 3rem;
        }
        .container {
            width: 80%;
            margin: 0 auto;

        }

        .team-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            flex: 1;
    }
        .team-title {
            flex-basis: min-content;
            line-height: 2.5rem;
            
        }
        .teammate img {
            flex: 2 1 200px;
            
        }
        .testemonials-container {
            width: 95%;
            max-width: 860px;
        }
        
        .testemonials-title {
            align-self: flex-start;
        }
        .testemonials-wrapper {
            flex-direction:row;
            justify-content: space-between;
            gap: 4rem;
        }
        .testemonials {
            display: flex;
            flex-direction: column;
        }
        .testemonial {
            flex: 1;
        }
        .footer {
            flex-direction: row;
        }
}

@media screen and (min-width:1022px) {
        .team-title {
            max-width: 300px;
        }
        .teammate img {
            flex: 2 0 167px;

    }

    .testmonials-container {
        width: 95%;
        max-width: 960px;
    }
    .testemonials-wrapper {
        gap: 5rem;
    }
}
